@font-face {
    font-family: 'Archivo', sans-serif;
    src: url('../fonts/Archivo/Archivo-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Archivo', sans-serif;
    src: url('../fonts/Archivo/Archivo-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo', sans-serif;
    src: url('../fonts/Archivo/Archivo-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

